.header {
    background-color: #ffffff;
    border: #f1f1f1;
    border-style: dashed;
    border-width: 12px;
    padding: 10px;   
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 150%;
}

.main-body {
    background-color: #ffffff;
    border: #f1f1f1;
    border-style: dashed;
    border-width: 12px;
    width: 75%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 100%;
}

body {
    background-color: #f1f1f1;
}