@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Libre+Baskerville&family=Roboto+Slab:wght@400;500;700;900&display=swap');

html {
    height: 100%;
}

body {
    background-color: #bddba1;
margin: 0;
}

.warning {
    background-color: #ff0000;
    border: #000000;
    border-style: dashed;
    border-width: 5px;
    width: 75%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-family: "IBM Plex Mono", Courier, monospace;
    font-size: 100%;
}

.main-body {
    background-color: #93c267;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: "IBM Plex Mono", Courier, monospace;
    font-size: 100%;
    color: #fcc203;
}

.header {
    font-size: 150%;
}

h1 {
    margin: 0;
    padding: 0.5em;
}

.col1 {
    width: 50%;
}
