html {
    background-color: #121212;
    height: 100%;
}

body {
    height: 100%;
    width:900px;
    margin:0 auto;
    background-color: #f1f1f1;
}

#header {
    font-family: 'Anton', sans-serif;
    font-size:40px;
    padding: 30px 20px;
    text-align: center;
    border-bottom: 4px solid #121212;
    color: #121212;
}


#header > h1{
    margin: 0;
}

input {
    border:3px solid #121212;
}


#user-stats, #user-stats > * {
    display: flex;
}

#scores-el {
    margin: 15px auto 15px 20px;
    justify-content: start;
    align-items: center;
}

#scores-el > * {
    padding: 0px 10px;
    margin: 5px;
}

#name-el {
    margin: 15px 20px 15px auto;
}